{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Sky-Worlds - Login{% endblock %}

{% block content %}

<div class="background">
    <img alt="" src="{% static "universe/world_ship_image.png" %}">
</div>

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<p>Don't yet have an account? <a href="{% url 'register' %}">Create one now!</a></p>

{% endblock %}
