{% extends "base.html" %}

{% load universe_tags %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="ship">
<h1>Your World-Ship</h1>

{% if ship.current_event %}
<div class="event">
    <h2>{{ ship.get_current_event_display }}</h2>
    <p>{{ ship.get_event_desc }}</p>
</div>
{% endif %}

<h2>Population Sentiment</h2>
<table>
    <tr>
        <td>Happiness</td>
        <td>{{ ship.happiness }}{% r_icon "happiness" %}</td>
    </tr>
    <tr>
        <td>Restlessness</td>
        <td>{{ ship.restlessness }}{% r_icon "restlessness" %}</td>
    </tr>
</table>
<h2>Ship Stats</h2>
<table>
    <thead>
        <tr>
            <td>Resource</td>
            <td>Amount</td>
            <td>Action</td>
        </tr>
    </thead>
    <tr>
        <td>Population</td>
        <td>{{ ship.population }} {% r_icon "population" %} / {{ ship.living_space }}</td>
        <td>{% afford_build "living_space" "Expand Living Space" %}</td>
    </tr>
    <tr>
        <td>Food</td>
        <td>{{ ship.food }} {% r_icon "food" %} / {{ ship.freezer_space }}</td>
        <td>{% afford_build "freezer_space" "Expand Freezer Space" %}</td>
    </tr>
    <tr>
        <td>Metal</td>
        <td>{{ ship.metal }} {% r_icon "metal" %} / {{ ship.cargo_space }}</td>
        <td>{% afford_build "cargo_space" "Expand Cargo Space" %}</td>
    </tr>
    <tr>
        <td>Farms</td>
        <td>{{ ship.farms }} {% r_icon "farms" %} </td>
        <td>{% afford_build "farm" "Build Farm" %}</td>
    </tr>
    <tr>
        <td>Miners</td>
        <td>{{ ship.miners }} {% r_icon "miners" %} </td>
        <td>{% afford_build "miner" "Build Miner" %}</td>
    </tr>
    <tr>
        <td>Total Ship Structure =</td>
        <td>{{ ship.structure }} / {{ ship.structure_tech }}</td>
        <td>{% afford_research "structure" "Research better ship structure" %}</td>
    </tr>
</table>
<h2>Research</h2>
<table>
    <tr>
        <td>Research</td>
        <td>{{ ship.research }} {% r_icon "research" %}</td>
        <td></td>
    </tr>
    <tr>
        <td>Structure</td>
        <td>{{ ship.structure_tech }}</td>
        <td>
            {% afford_research "structure" "Reasearch" %}
        </td>
    </tr>
    <tr>
        <td>Maintainence</td>
        <td>{{ ship.maintainence_tech }}</td>
        <td>
            {% afford_research "maintainence" "Reasearch" %}
        </td>
    </tr>
    <tr>
        <td>Contentment</td>
        <td>{{ ship.contentment_tech }}</td>
        <td>
            {% afford_research "contentment" "Reasearch" %}
        </td>
    </tr>
</table>
<h2>Upgrades</h2>
<table>
    <thead>
        <tr>
            <td>Upgrade</td>
            <td>Present</td>
            <td>Action</td>
        </tr>
    </thead>
    <tr>
        <td>Sub-Surface Planetary Scanner</td>
        <td>{% if ship.has_sub_surface_scanner %}Yes</td><td></td>
        {% else %}No</td><td>
            {% afford_build "sub_surface" "Build" %}
        </td>{% endif %}
    </tr>
    <tr>
        <td>Defence System</td>
        <td>{% if ship.has_defense_system %}Yes</td><td></td>
        {% else %}No</td><td>
            {% afford_build "defences" "Build" %}
        </td>{% endif %}
    </tr>
    <tr>
        <td>Alien Translator</td>
        <td>{% if ship.has_alien_translator %}Yes</td><td></td>
        {% else %}No</td><td>
            {% afford_build "translator" "Build" %}
        </td>{% endif %}
    </tr>
    <tr>
        <td>Particle Shield</td>
        <td>{% if ship.has_particle_shield %}Yes</td><td></td>
        {% else %}No</td><td>
            {% afford_build "shield" "Build" %}
        </td>{% endif %}
    </tr>
    <tr>
        <td>Omni Anti-Virus Medication</td>
        <td>{% if ship.has_omni_anti_virus %}Yes</td><td></td>
        {% else %}No</td><td>
            {% afford_build "anti_virus" "Build" %}
        </td>{% endif %}
    </tr>
</table>
</div>

<div class="location">
    <h1>Sector: {{ ship.x }}, {{ ship.y }}</h1>
{% if planet %}
    <div class="planet">
    <h2>Planet:</h2>
    Your World-Ship is currently orbiting a planet:
    <p>{{ planet.description }}</p>
    </div>
{% endif %}
</div>

<div class="choices">
    <div class="travel">
        <h3>Travel Effects</h3>
        {% with effects=travel %}
        {% include "universe/effects.html" %}
        {% endwith %}
        <h4>Set Course:</h4>
        <table>
            {% for row in lrs %}
            <tr>
                {% for planet in row %}
                <td>
                {% if planet.1 != 0 or planet.2 != 0 %}
                <a href="{% url "travel" planet.1 planet.2 %}">{% endif %}

                {% if planet.3 %}
                    {% p_icon planet.3 %}
                {% else %}
                    {{ planet.0 }}
                {% endif %}

                {% if planet.1 != 0 or planet.2 != 0 %}</a>{% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% if stay %}
    <div class="stay">
        <h3>Planetary Effects</h3>
        {% with effects=stay %}
        {% include "universe/effects.html" %}
        {% endwith %}
        <a href="{% url "stay" %}">Settle here for a while</a>
    </div>
    {% endif %}
</div>

{% endblock %}
